/* Universal Sets */
.bg-bpd {
    background-color: #283593 !important;
  }
  
  a.bg-bpd:hover, a.bg-bpd:focus,
  button.bg-bpd:hover,
  button.bg-bpd:focus {
    background-color: #283593 !important;
  }

.bg-abu {
    background-color: #eeeeee !important;
  }
  
  a.bg-abu:hover, a.bg-abu:focus,
  button.bg-abu:hover,
  button.bg-abu:focus {
    background-color: #eeeeee !important;
  }

  .drop-div {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border: 0.05rem solid #3644b3;
  }

/* Navbar Text Color */
  .navbar-dark .navbar-nav .nav-link {
    color: whitesmoke;
    }
    .navbar-dark .navbar-nav .nav-link:hover {
    color: whitesmoke;
    }

/* Dropdown Hover Set */
@media screen and (min-width: 768px){
    .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
          display: block;
          background-color: #283593 !important;
      }
      .dropdown-menu{
          margin-top: 0;
      }
      .dropdown-toggle{
          margin-bottom: 0;
      }
      .navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
          margin-bottom: 0;
      }
      ul li a:hover {
      color:#001370 !important;
      }
      .dropdown-menu a{
        color: whitesmoke !important;
      }
    }

    @media screen and (max-width: 767px){
        .dropdown-menu{
              background-color: #001370 !important;
              /* #001064
              #021885 */
          }
          .dropdown-menu a{
            color: #ccc !important;
          }
          .drop-div {
            height: 0;
            margin: 0.5rem 0;
            overflow: hidden;
            border: 1px solid #283593;
          }
        }
      
/* #### Menu Wizzard Section #### */
.hk-features {
 /* background:#2a2e31; */
    padding:10px 0px;
}
.hk-features-wrap {
    background:#fff;
    border:1px solid #e6e6e6;
    border-radius:5px;
}
.hk-features-box {
    padding:25px 15px;
}
.hk-features-box i {
    font-size: 45px;
}
.color-1 {
    color:#FFC300;
}
.color-2 {
    color:#FF5733;
}
.color-3 {
    color:#49D415;
}
.color-4 {
    color:#1C8BE1;
}
.hk-features-box h3 {
    color:#3b4146;
    font-size:22px;
}
.hk-features-box p {
    color:#7c848a;
}
.seperator {
    border-left:1px solid #f0f0f0;
}
@media screen and (max-width:767px) {
    .seperator {
        border-top:1px solid #f0f0f0;
        border-left:none;
   }
}

/* Card Slider Section */
@media (min-width: 768px) {
    /* show 4 items */
    #carousel-2 .carousel-inner .active,
    #carousel-2 .carousel-inner .active + .carousel-item,
    #carousel-2 .carousel-inner .active + .carousel-item + .carousel-item,
    #carousel-2 .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
      display: block;
    }
  
    #carousel-2 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    #carousel-2 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    #carousel-2 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    #carousel-2 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
      transition: none;
    }
  
    #carousel-2 .carousel-inner .carousel-item-next,
    #carousel-2 .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
  
    #carousel-2 .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -25%;
      z-index: -1;
      display: block;
      visibility: visible;
    }

    #carousel-2 .carousel-inner .carousel-item {
        margin-right: inherit;
    }
  
    /* left or forward direction */
    #carousel-2 .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    #carousel-2 .carousel-item-next.carousel-item-left + .carousel-item,
    #carousel-2 .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    #carousel-2 .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    #carousel-2 .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    /* farthest right hidden item must be absolue position for animations */
    #carousel-2 .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
    }
  
    /* right or prev direction */
    #carousel-2 .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    #carousel-2 .carousel-item-prev.carousel-item-right + .carousel-item,
    #carousel-2 .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    #carousel-2 .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    #carousel-2 .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
    }
  }

/* Footer Section */

footer {
    /* color: #fff; */
    background-attachment: fixed;
    background-color:#eeeeee;
    /* background-image: url(https://s7.postimg.org/uyf0oioaz/footer-bg.png); */
    background-size: cover;
    background-position: bottom;
}
footer p {
    color: rgb(48, 48, 48);				
}
footer a {
    color: rgb(48, 48, 48);				
}
.social-pet li {
    display: inline-block;
    margin-right: 10px;
}
.social-pet li a {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    display: block;
    line-height: 35px;
    background-color: #3a5a95;
    color: #fff;
}
.social-pet li:nth-child(2) a {
    background-color: #57aced;
}
.social-pet li:nth-child(3) a {
    background-color: #dd4f43;
}
.social-pet li:nth-child(4) a {
    background-color: #6b27b2;
}
.social-pet li a:hover {
    background-color: #0141a2;
}
.social-pet li a:hover i {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
.recent-post li {
    display: block;
    color: #ccc;
    margin-bottom: 25px;
}
.recent-post li label {
    float: left;
    border: 2px solid #ccc;
    padding: 1px 7px;
    text-align: center;
}
.recent-post li label span {
    color: #fff;
}
footer .input-group-addon {
    background-color: #0141a2;
    padding: 10px;
}
.f-address li {
    display: inline-block;
}
.f-address li i {
    color: #2995de;
    font-size: 18px;
}
.f-address li a {
    color: rgb(73, 73, 73);	
}
/*=-Copyright-=*/
.copyright {
    background-color: #303f9f;
    padding: 12px 0;
    font-size:13px;
}